@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="container">
    <!-- Header Section Main div -->
    <div class="container-fluid">
        <!--  secondary-nav start -->
        <div class="container padding">
            <div class="row secondary-nav secondary-nav-margin">
                <div class="col-lg-4 col-md-4"><i><img src="~/Content/images/04.png" alt="Job seekers"></i><a href="@Url.Action("LookingforStaff", "Staff")" class="button btn-jobseeker button--antiman button--inverted button--border-thin button--text-thick button--size-m active">Looking for Staff?</a></div>
                <div class="col-lg-4 col-md-4"><i><img src="~/Content/images/05.png" alt="Job seekers"></i><a href="@Url.Action("JoinUsHtml", "Join")" class="button btn-active  button--antiman button--inverted button--border-thin button--text-thick button--size-m">Why Not Join Us ?</a></div>
                @if (Session["username"] != null && !string.IsNullOrEmpty(Session["username"].ToString()))
                {
                    if (Session["loggedinas"] != null && !string.IsNullOrEmpty(Convert.ToString(Session["loggedinas"])))
                    {
                        Int32 loggedIn = Convert.ToInt32(Session["loggedinas"]);
                        if (loggedIn == 1)
                        {  @Html.Partial("LoginModal")
                            <div class="col-lg-4 col-md-4"><i><img src="~/Content/images/06.png" alt="Job seekers"></i>@Html.ActionLink("Post Job", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "button btn-jobalerts button--antiman button--inverted button--border-thin button--text-thick button--size-m cd-signin" })</div> }
                        else
                        {
                            <div class="col-lg-4 col-md-4"><i><img src="~/Content/images/06.png" alt="Job seekers"></i><a href="@Url.Action("PostJob", "Jobs")" class="button btn-jobalerts button--antiman button--inverted button--border-thin button--text-thick button--size-m cd-signin">Post Job</a></div>
                        }
                    }
                    else
                    {
                        <div class="col-lg-4 col-md-4"><i><img src="~/Content/images/06.png" alt="Job seekers"></i><a href="@Url.Action("PostJob", "Jobs")" class="button btn-jobalerts button--antiman button--inverted button--border-thin button--text-thick button--size-m cd-signin">Post Job</a></div>
                    }

                }
                else
                {
                    @Html.Partial("LoginModal")
                    <div class="col-lg-4 col-md-4"><i><img src="~/Content/images/06.png" alt="Job seekers"></i>@Html.ActionLink("Post Job", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "button btn-jobalerts button--antiman button--inverted button--border-thin button--text-thick button--size-m cd-signin" })</div>
                }
            </div>
        </div>
        <!--  secondary-nav start -->

        <div class="container nav-tabs-main">
            <div class="col-xs-12 innerpages" id="about-us">

                <h2>Why not join us</h2>

                <p>YOU Global is always interested to hear from recruiters who are interested in joining its unique model.</p>
                <h4>Benefits</h4>
                <p>As a recruiter with YOU Global, you enjoy exclusive access to our global brand, our custom engineered system, our global jobseeker database, and many other benefits.</p>
                <p>
                    With our growing online presence, and excellent incentive program, the earning potential is limitless. You will join a growing worldwide team that makes up YOU Global, and who are ready to network and interact with the common objective of delivering our clients the best service in the business.
                </p>
                <p>
                    Best of all, no capital investment is required.
                </p>
                <p>
                    <a href="~/Content/summary.pdf" title="http://www.you-global.com/summary.pdf" onclick="window.open(this.href); return false;"><u>Click Here</u></a>
                    for an overview of features and benefits.
                </p>
                <p>
                    Interested? @Html.ActionLink("Contact YOU Global", "ContactUsHtml", "Contact", routeValues: null, htmlAttributes: new { id = "otherServics", @class = "underline" }) for more information, or email us at
                    <script type="text/javascript" language="javascript">
    // Email obfuscator script 2.1 by Tim Williams, University of Arizona
    // Random encryption key feature by Andrew Moulden, Site Engineering Ltd
    // This code is freeware provided these four comment lines remain intact
        {
            coded = "E4phetp6@8H9-XOHJ4O.VHf"
            key = "BMxo5hkFgQIPEc8abRvlYeK37uHsriCXjdTmV14JUGOZtAN09W6pDy2zSqfLnw"
            shift = coded.length
            link = ""
            for (i = 0; i < coded.length; i++) {
                if (key.indexOf(coded.charAt(i)) == -1) {
                    ltr = coded.charAt(i)
                    link += (ltr)
                }
                else {
                    ltr = (key.indexOf(coded.charAt(i)) - shift + key.length) % key.length
                    link += (key.charAt(ltr))
                }
            }
            document.write("<a href='mailto:" + link + "'>" + link + "</a>")
        }
                    </script>
                </p>
            </div>
            <!-- col-xs-9 End -->
            <!-- Social Media Section -->
        </div>
        <!-- container End -->
    </div>
    <!-- container-fluid End -->
</section>