@model Sample.Web.ModalLogin.Models.RegisterLoginModel

<div class="col-sm-12">
    @using (Html.BeginForm("RegisterJs", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form", id = "registerform" }))
    {
        @Html.AntiForgeryToken()
        <div class="alert alert-danger" role="alert" style="display: none" id="regAlertBox"></div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("First Name")
            @Html.TextBoxFor(m => m.RegisterModel.FirstName, new { @maxlength = "100", @class = "form-control", @onkeydown = "return onlyAlphabets(event,this);", placeholder = "please enter first name" })
            @Html.ValidationMessageFor(m => m.RegisterModel.FirstName, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.Label("Last Name")
            @Html.TextBoxFor(m => m.RegisterModel.LastName, new { @maxlength = "100", @class = "form-control", @onkeydown = "return onlyAlphabets(event,this);", placeholder = "please enter last name" })
            @Html.ValidationMessageFor(m => m.RegisterModel.LastName, "", new { @class = "text-danger" })
        </div>
            <div class="form-group">
                @Html.Label("Email")
                @Html.TextBoxFor(m => m.RegisterModel.Email, new { @maxlength = "100", @class = "form-control", placeholder = "please enter Email" })
                @Html.ValidationMessageFor(m => m.RegisterModel.Email, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.Label("Password")
                @Html.PasswordFor(m => m.RegisterModel.RegisterPassword, new { @maxlength = "10", @class = "form-control", @onblur = "checklength(this.value)", placeholder = "please enter password" })
                @Html.ValidationMessageFor(m => m.RegisterModel.RegisterPassword, "", new { @class = "text-danger" })
                <span id="pwdmsg" style="font-size: small; position: relative;"></span>
            </div>
            <div class="form-group">
                @Html.Label("Confirm Password")
                @Html.PasswordFor(m => m.RegisterModel.ConfirmPassword, new { @maxlength = "10", @class = "form-control", placeholder = "confirm password" })
                @Html.ValidationMessageFor(m => m.RegisterModel.ConfirmPassword, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.Label("Phone Code")
                @Html.DropDownListFor(m => m.RegisterModel.PhoneCode, new SelectList(((System.Data.DataTable)Session["PhoneCodes"]).Rows as System.Collections.IEnumerable, "[0]", "[0]"), new { @class = "form-control"})
            </div>
            <div class="form-group">
                @Html.Label("Area Code")
                @Html.TextBoxFor(m => m.RegisterModel.AreaCode, new { @maxlength = "4", @class = "form-control", placeholder = "please enter area code" })
                @Html.ValidationMessageFor(m => m.RegisterModel.AreaCode, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.Label("Phone Number")
                @Html.TextBoxFor(m => m.RegisterModel.PhoneNumber, new { @maxlength = "100", @class = "form-control", placeholder = "please enter phone number" })
                @Html.ValidationMessageFor(m => m.RegisterModel.PhoneNumber, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.Label("Register As") @Html.DropDownListFor(m => m.RegisterModel.RegisterAs, new List<SelectListItem>
                                    {
                                    new SelectListItem { Text = "Jobseeker", Value = "1", Selected = true },
                                    new SelectListItem { Text = "Employer", Value = "2" },
                                    new SelectListItem { Text = "Recruitment consultant", Value = "3" }}, new { @class = "form-control selectpicker", required = "required" })
            </div>
            <div class="form-group">
                <div class="g-recaptcha" data-sitekey="6Le55gsTAAAAAECMHA20yc54KQK2jvlqTprM3xjy"></div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-green btn-lg btn-block btn-success" id="btnLogin">Register</button>
            </div>
    }
</div>
<div class="clearfix"></div>