@model Sample.Web.ModalLogin.Models.PasswordModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="container">
    <div class="container-fluid">
        @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="container nav-tabs-main">
                <div class="col-xs-12 innerpages" id="employer">
                    <h2>Forgot Password</h2>
                    <form class="form-inline row col-md-6 employers">
                        <div class="form-group">
                            @Html.LabelFor(m => m.EmailId)
                            @Html.TextBoxFor(m => m.EmailId, new { @class = "form-control", placeholder = "Enter your registered email id" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.NewPassword)
                            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", placeholder = "Enter new password" })
                            @Html.ValidationMessageFor(m => m.NewPassword)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.ConfirmPassword)
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm password" })
                            @Html.ValidationMessageFor(m => m.ConfirmPassword)
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-green btn-lg btn-block" id="btnLogin">Reset</button>
                        </div>
                    </form>
                </div>
            </div>
        }
    </div>
</section>