@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var userName = "";
}
@using System.Web.UI.WebControls;
@using System.Data;
<section class="container">

    <div class="row secondary-nav secondary-nav-margin">
        <div class="col-lg-4 col-md-4"><i><img src="~/Content/images/04.png" alt="Job Search"></i><a href="@Url.Action("JobSeeker", "Jobs")" class="button btn-active button--antiman button--inverted button--border-thin button--text-thick button--size-m">Job Search</a></div>
        @if (Session["username"] != null && !string.IsNullOrEmpty(Session["username"].ToString()))
        {
            if (Session["loggedinas"] != null && !string.IsNullOrEmpty(Convert.ToString(Session["loggedinas"])))
            {
                Int32 loggedIn = Convert.ToInt32(Session["loggedinas"]);
                if (loggedIn == 1)
                {
                    <div class="col-lg-4 col-md-4"><i><img src="~/Content/images/05.png" alt="upload cv"></i><a href="@Url.Action("JobSeekerEmp", "Jobs")" class="button btn-uploadcv button--antiman button--inverted button--border-thin button--text-thick button--size-m">Upload CV</a></div>
                }
                else
                {
                    @Html.Partial("LoginModal")
                    <div class="col-lg-4 col-md-4"><i><img src="~/Content/images/05.png" alt="Job seekers"></i>@Html.ActionLink("Upload CV", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "button btn-uploadcv button--antiman button--inverted button--border-thin button--text-thick button--size-m" })</div>
                }
            }
            else
            {
                @Html.Partial("LoginModal")
                <div class="col-lg-4 col-md-4"><i><img src="~/Content/images/05.png" alt="Job seekers"></i>@Html.ActionLink("Upload CV", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "button btn-uploadcv button--antiman button--inverted button--border-thin button--text-thick button--size-m" })</div>
            }

        }
        else
        {
            @Html.Partial("LoginModal")
            <div class="col-lg-4 col-md-4"><i><img src="~/Content/images/05.png" alt="Job seekers"></i>@Html.ActionLink("Upload CV", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "button btn-uploadcv button--antiman button--inverted button--border-thin button--text-thick button--size-m" })</div>
        }
        <div class="col-lg-4 col-md-4"><i><img src="~/Content/images/06.png" alt="Job Alerts"></i><a href="@Url.Action("JobAlert", "Jobs")" class="button btn-jobalerts button--antiman button--inverted button--border-thin button--text-thick button--size-m cd-signin">Job Alerts</a></div>
    </div>
    <!--  secondary-nav start -->
    <!-- jobsearch -->
    <div class="container jobsearch">
        <div class="row">
            @using (Html.BeginForm("Search", "Jobs"))
            {
                <input type="text" class="form-control" name="Keywords" id="jobsearch" placeholder="Search By Job Reference Code.">
                <ul class="accordion" id="acc1">
                    <li>
                        <h4 class="h">
                            <span style="color:white">Occupation</span>
                        </h4>
                        <div class="outer" style="width: 300px;">
                            <div class="inner">
                                <div id="divOccSel" style="display: none">
                                    @Html.ListBox("OccupationSelect", new SelectList(((DataTable)(ViewData["occupation"] == null ? new DataTable() : ViewData["occupation"])).Rows as System.Collections.IEnumerable, "[0]", "[1]"), new { @multiple = "multiple", @size = "5", @class = "fieldAlerts OccupationSelect" })
                                    <div style="float: right">
                                        <img title="Remove selected" src="../../Content/images/delete.png" id="btnOremove"
                                             style="display: block !important; visibility: inherit !important;" />
                                    </div>
                                </div>                              
                                @Html.TextBox("EmpOccupation", string.Empty, new { @id = "search-term", @class = "form-control txtShowDiv", @role = "tagsinput", placeholder = "Enter your Occupation" })
                                <div class="keywordText">
                                    <i style="color:white;"></i>
                                </div>
                                <input type="hidden" id="hdf" value="0" />
                            </div>
                        </div>


                    </li>
                    <li>
                        <h4 class="h">
                            <span style="color:white">Industry</span>
                        </h4>
                        <div class="outer" style="width: 300px;">
                            <div class="inner">
                                <div id="divIndSel" style="display: none">
                                    @Html.ListBox("IndustrySelect", new SelectList(((DataTable)(ViewData["industry"] == null ? new DataTable() : ViewData["industry"])).Rows as System.Collections.IEnumerable, "[0]", "[1]"), new { @multiple = "multiple", @size = "5", @class = "fieldAlerts IndustrySelect" })
                                    <div style="float: right">
                                        <img title="Remove selected" src="../../Content/images/delete.png" id="btnIremove"
                                             style="display: block !important; visibility: inherit !important;" />
                                    </div>
                                </div>
                                @Html.TextBox("Empindustry", string.Empty, new { @id = "search-empIndtree", @class = "form-control industryin", placeholder = "Enter your Industry" })
                                <div class="indDiv">
                                    <div id="tvDind" style="display:none;">
                                        <div class="treeview">
                                        </div>
                                    </div>
                                </div>
                                <div class="keywordText">
                                    <i style="color:white;"></i>
                                </div>
                                <input type="hidden" id="hdfI" value="0" />
                            </div>
                        </div>
                    </li>
                    <li>
                        <h4 class="h">
                            <span style="color:white">Location</span>
                        </h4>
                        <div class="outer" style="width: 300px;">
                            <div class="inner">
                                <input id="search-empLocationsearch" class="form-control locationin" type="text" maxlength="10" name="Location" autocomplete="off" placeholder="Enter your Location" role="textbox" aria-autocomplete="list" aria-haspopup="true" />
                                <div class="keywordText">
                                </div>
                            </div>
                            <input type="hidden" id="hdfLocation" value="0" />
                            <input type="hidden" id="hdfL" value="0" />
                        </div>
                    </li>
                    <li>
                        <h4 class="h">
                            <span style="color:white">Job Type</span>
                        </h4>
                        <div class="outer">
                            <div class="inner">
                                @Html.DropDownList("Role", new SelectList(((DataTable)Session["SearchWorkTypeList"]).Rows as System.Collections.IEnumerable, "[2]", "[1]"), new { @class = "form-control" })
                                <div class="keywordText">
                                    @*<i style="color:white;">select any option above.</i>*@
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <button id="btnFind" class="btn btn-red pull-right btn-lg btn-block searchbutton">
                    FIND JOBS
                </button>
                <div class="treediv">
                    <div id='search-termoccu' class="occupation" style="display:none">
                        <img id="occloading" src="~/Content/images/imgs/ajax-loader.gif" class="busyindicator" alt="" />                        
                    </div>
                    <div id='searchable-empIndtree' class="industry" style="display:none">
                        <img id="indloading" src="~/Content/images/imgs/ajax-loader.gif" class="busyindicator" alt="" /> 
                    </div>
                    <div id='searchable-empLocationtree' class="location" style="display:none">
                        <img id="locloading" src="~/Content/images/imgs/ajax-loader.gif" class="busyindicator" alt="" /> 
                    </div>
                </div>
            }

            @*@using (Html.BeginForm("List", "Jobs"))
                {
                    <button class="btn btn-red pull-right btn-lg btn-block">
                        List all jobs - no filters
                    </button>
                }*@

            @using (Html.BeginForm("List", "Jobs", FormMethod.Post, new { @class = "listwrap" }))
            {
                @*<a class="link-listJob">
                        LIST ALL JOBS
                    </a>*@
                <button class="link-listJob">
                    LIST ALL JOBS
                </button>
            }
        </div>
        <div class="functionalModule">
            <div class="functionalModuleInner">
                <div id="searchJobsOuter">
                </div>
            </div>
        </div>
        @*<a class="scrolldown" href="#down"><img src="~/Content/images/scrolldown.png" /></a>*@
    </div>
    <!-- end jobsearch-->
    <div class="clearfix"></div>
    <div class="container nav-tabs-main" id="down">
        <div class="col-xs-12 innerpages" id="featurd_section">
            <h2>Latest Jobs</h2>
            <table id="cardSetTable" style="overflow-x: scroll;">
                @{
                    <tr>
                        @if (Session["HotJobs"] != null)
                        {
                            IEnumerable<YG_Business.JobInfo> jobPostings = Session["HotJobs"] as IEnumerable<YG_Business.JobInfo>;
                            if (jobPostings != null && jobPostings.Count() > 0)
                            {
                                foreach (var jobPosting in jobPostings)
                                {
                                    if (Session["username"] != null && !string.IsNullOrEmpty(Session["username"].ToString()))
                                    {
                                        userName = Session["username"].ToString();
                                    }
                                    var item = jobPosting;
                                    <div class="col-md-4 item">
                                        <h3>
                                            <a href="#">
                                                @Html.ActionLink(item.Title, "JobDescription", "Jobs", new { id = item.ReferenceNo }, null)
                                            </a>
                                        </h3>
                                        <p>@item.Summary</p>
                                        <div class="wrap-bottom">
                                            @*<span>Updated  @item.CreatedDate</span>*@
                                            @*<button id="aaplyLink" value="submit"
                                                        class="btn btn-red pull-right btn-lg btn-block" onclick="location.href='@Url.Action("JobDescription", "Jobs", new { id = item.ReferenceNo })'">
                                                    Apply
                                                </button>*@
                                            @if (userName != null && !string.IsNullOrEmpty(userName))
                                            {
                                                if (Session["loggedinas"] != null && !string.IsNullOrEmpty(Convert.ToString(Session["loggedinas"])))
                                                {
                                                    Int32 loggedIn = Convert.ToInt32(Session["loggedinas"]);
                                                    if (loggedIn == 1)
                                                    {  <button id="aaplyLink" value="submit"
                                                               class="btn btn-red pull-let btn-lg btn-block" onclick="location.href='@Url.Action("ApplyOnline", "Work", new { id = item.ReferenceNo })'">
                                                Apply
                                            </button> }
                                                    else
                                                    {
                                                        @Html.Partial("LoginModal")
                                                        <div class="col-lg-4 col-md-4">@Html.ActionLink("Apply", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn btn-red pull-let btn-lg btn-block" })</div>
                                                    }
                                                }
                                            }
                                            else
                                            {
                                                @Html.Partial("LoginModal")
                                                <div class="col-lg-4 col-md-4">@Html.ActionLink("Apply", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn btn-red pull-let btn-lg btn-block" })</div>
                                            }
                                        </div>
                                    </div>
                                }
                            }
                        }
                        else
                        {
                            <td>
                                Unfortunately, there are no hot jobs at this moment. Please try again in a few moments.
                            </td>
                        }
                    </tr>
                }
            </table>
        </div>

        <!-- Social Media Section -->
    </div>

    <!-- container End -->
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}